@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32kg.ttf)
    format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp2I7WR32kg.ttf)
    format("truetype");
}
body {
  font-family: "Inconsolata", sans-serif;
  color: white;
}
body .container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: brown;
  padding-top: 45px;
  padding-bottom: 20px;
}
body .container h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
body .container .credit {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
body .container .row {
  padding-top: 5px;
}
body .container .row .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid white;
}
body .container .row .active {
  background: white;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
body .container .row .text-vertical {
  display: inline-block;
  width: 20px;
  height: auto;
  transform-origin: left;
  margin-left: 4px;
}
body .container .row .text-horizontal {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-left: -100px;
  padding-left: -100px;
  height: 20px;
}
